<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Task tracker - tasks</title>
</head>

<body>
<h1>Tasks:</h1>

<form th:action="@{/tasks/show}" method="GET" >
    <div>
        <label for="status">Task status:</label>
        <select id="status" name="status">
            <option value="">--Any--</option>
            <option
                    th:each="stat : ${T(ru.dsi.geekbrains.testproject.entities.Task.Status).values()}"
                    th:value="${stat.name()}"
                    th:text="${stat.getName()}"
                    th:attr="selected=${stat.equals(status)}"></option>
        </select>
    </div>
    <div>
        <label for="assignee">Assignee:</label>
        <select id="assignee" name="assignee">
            <option value="">--Any--</option>
            <option
                    th:each="user : ${users}"
                    th:value="${user.getId()}"
                    th:text="${user.getName()}"
                    th:attr="selected=${user.getId()==assignee_id}"></option>
        </select>
    </div>
    <input type="submit" value="Search"/>
</form>
<table>

    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Status</td>
        <td>Owner</td>
        <td>Assignee</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="tasks" type="java.util.List<ru.dsi.geekbrains.testproject.entities.Task>"*/-->
    <!--/*@thymesVar id="t" type="ru.dsi.geekbrains.testproject.entities.Task"*/-->
    <tr th:each="t : ${tasks}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.title}"></td>
        <td th:text="${t.status.getName()}"></td>
        <td th:text="${t.owner==null ? '' : t.owner.getName()}"></td>
        <td th:text="${t.assignee==null ? '' : t.assignee.getName()}"></td>
        <td><a th:attr="href=@{'/tasks/detail/'+ ${t.id}}" target="_blank">Detail</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">main</a>
</body>
</html>